.banner .carousel-caption {
    background: none;
    top: 10%;
}


/*
small device
*/

#myCarousel{
    
padding-top: 0px;

}
.youtube-iframe{
    width:100%;
    height:300px;
    margin:0 0 100px 0; 
    display:inline-block;
}

/*
pc
*/
@media (min-width: 700px) {
 
    
#myCarousel{
    
padding-top: 80px;
}
    .youtube-iframe{
    width:100%;
    height:600px;
    margin:150px 0 100px 0; 
    display:inline-block;
}
}

