.banner .carousel-caption {
    background: none;
    top: 10%;
}

/*
small device
*/

.video-header{
    color:#2d6e84;
}
#video-text{
    margin-top:20px;
}
.menu {
        margin-bottom: 30px !important;
        display:none;
        /*visibility: hidden;*/
    }

#myCarousel {
    padding-top: 0px;
}

.youtube-iframe {
    width: 100%;
    height: 300px;
    margin: 0 0 50px 0;
    display: inline-block;
}


/*
pc
*/

@media (min-width: 767px) {
    img.nownews-logo{
    position: absolute;
    width: 306px;
    height: 60px;
    left: -15%;
    top: 20%;
}
    .menu {
        margin-bottom: 30px !important;
        display:inherit;
        visibility: visible;
    }
    #myCarousel {
        padding-top: 80px;
    }
    .youtube-iframe {
        width: 100%;
        height: 600px;
        margin: 150px 0 50px 0;
        display: inline-block;
    }
    
}