<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{page.title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" type="image/ico" href="{{head.faviconurl}}" />

    <!-- SEO -->
    <meta name="google-site-verification" content="IpBBA_rIUzM0_7nqKskLksd7Rg-aFVbhQyD7DKZT-Ac" />
    <!-- for facebook use1-->
    <meta property="fb:app_id" content="132863386747341">
    <meta property="fb:pages" content="102884532662">
    <meta property="og:site_name" content="NOWnews今日新聞">
    <meta property="og:type" content="article">
    <meta property="article:publisher" content="{{facebook.publisher}}">

    <meta name="description" content="{{facebook.description}}}" />
    <meta name="keywords" content="{{keywords}}">

    <!-- for facebook use2-->
    <meta property="og:url" content="{{facebook.url}}">
    <meta property="og:title" content="{{facebook.title}}">
    <meta property="og:description" content="{{facebook.description}}}">
    <meta property="og:image" content="{{facebook.imageUrl}}">
    <meta property="article:author" content="{{facebook.author}}}">

    <!-- for Google plus use -->
    <meta itemprop="url" content="{{googlePlus.url}}">
    <meta itemprop="name" content="{{googlePlus.name}}">
    <meta itemprop="description" content="{{googlePlus.description}}">
    <meta itemprop="image" content="{{googlePlus.imageUrl}}">

    <meta itemprop="keywords" content="郝龍斌,吳敦義,NOWnews,今日新聞">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.css">
    <link rel="stylesheet" href="css/custom-styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome-ie7.min.css">
    <link rel="stylesheet" href="css/extra.css">
    <link rel="stylesheet" href="css/wb.css">
    <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-K54KNZ');
    </script>
    <!-- End Google Tag Manager -->

</head>

<body>
    <!-- Facebook Share -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.9&appId=426928670995788";
                fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
        </script>
    <!-- End Facebook Share -->




    <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

    <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K54KNZ" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="header-wrapper">
        <div class="container">
            <div class="logo" style="width:220px">
                <img class="nownews-logo" src="{{header.logourl}}" alt="" style="
                        top: 5px;
                        margin: auto;
                        display: block;
                        left: calc( 50% - 130px );
                        width: 260px;
                    ">
                <h1 style="
                        position: relative;
                        top: 25px;
                        font-size: 40px;
                    ">{{header.title}}</h1>
            </div>
            <div class="menu">
                <div class="navbar">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <i class="fw-icon-th-list"></i>
                    </a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li>
                                <img class="nownews-logo" src="{{header.logourl}}" alt="">
                            </li>
                            <li style="visibility:hidden;"><a href="#">Home</a></li>
                            <li style="visibility:hidden;"><a href="#">About</a></li>
                            <li style="visibility:hidden;"><a href="#">Services</a></li>
                            <li>
                                <div class="site-name">

                                    <h1>{{header.title}}</h1>
                                </div>
                            </li>
                            <li style="visibility:hidden;"><a href="#">Projects</a></li>
                            <li style="visibility:hidden;"><a href="#">Blog</a></li>
                            <li style="visibility:hidden;"><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
    </div>
    <div class="banner">
        <div class="container">
            <div class="carousel slide" id="myCarousel">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="carousel-caption">
                            <!-- <h2>4/27晚間七點 邀請 吳敦義 直播專訪</h2><br> -->


                            <h1>{{head.headline}}</h1>

                            {% if facebookShare.open %}
                            <!-- Facebook Share -->
                             <div style="width: 550px;background: {{facebookShare.backgroundColor}};padding: 10px 0;margin: 10px auto;">
                                <div class="fb-share-button" data-href="https://www.facebook.com/nownews/videos/{{facebookShare.videoId}}/" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2Fnownews%2Fvideos%2F10154909265702663%2F&amp;src=sdkpreparse">分享</a></div>
                                <div class="fb-like" data-href="https://www.facebook.com/nownews/" data-layout="standard" data-action="recommend" data-size="large" data-show-faces="false" data-share="false"></div>
                            </div>
                            <!-- End Facebook Share -->
                            {% endif %}
                            <div class="shadow"><img src="img/shadow.png" alt=""></div>
                        </div>
                        <!--<iframe style="margin:250px 0 100px 0; display:inline-block;" width="100%" height="315" src="https://www.youtube.com/embed/K9zeVCsgFtU" frameborder="0" allowfullscreen></iframe>-->
                        <!--<img src="img/banner-image.png" alt="">-->
                    </div>
                    <!-- <iframe class="youtube-iframe" src="https://www.youtube-nocookie.com/embed/T-aqf0beRR4?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe> -->
                    <iframe class="youtube-iframe" src="{{head.youtubeurl}}" frameborder="0" allowfullscreen></iframe>
                    <!--<div class="item">
                            <div class="carousel-caption">
                                <h2>hasellus ultrices nulla quis nibh</h2><br>
                                <h1>Morbi in sem quis dui placerat ornare</h1>
                                <div class="shadow"><img src="img/shadow.png" alt=""></div>
                            </div>
                            <img src="img/banner-image.png" alt="">
                        </div>
                        <div class="item active">
                            <div class="carousel-caption">
                                <h2>hasellus ultrices nulla quis nibh</h2><br>
                                <h1>Morbi in sem quis dui placerat ornare</h1>
                                <div class="shadow"><img src="img/shadow.png" alt=""></div>
                            </div>
                            <img src="img/banner-image.png" alt="">
                        </div>-->
                </div>
                <!--<a data-slide="prev" href="#myCarousel" class="carousel-control left"><i class="fw-icon-chevron-left"></i></a>
                    <a data-slide="next" href="#myCarousel" class="carousel-control right"><i class="fw-icon-chevron-right"></i></a>-->
            </div>
        </div>
    </div>

    <!-- block3 -->
    {% if block3.open %}
    <div class="featured-heading" style="background-color:#f9b701;">
        <div class="container">
            <ul class="grid effect-8" id="grid">
                <li>
                    <h1>{{block3.headline}}</h1>
                    <!--<h2 style="visibility: hidden;">Integer luctus vestibulum orci velpo</h2>-->
                </li>
            </ul>

            {% for row in block3.rows%}
            <div class="row-fluid">
                <ul class="grid effect-3" id="grid">
                    {% for article in row.articles %}
                    <li class="span6">
                        <a target="_blank" href="{{article.url}}" style="background-image: url({{article.bgurl}});">
                            <div class="block">
                                <h1 class="title">{{article.title}}</h1>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <!--block3 end-->

    <!--blocks-->
    {% for block in blocks %} {% if block.top.open%}
    <div class="featured-images" style="{{block.top.style}}">


        <div class="container">

            <div class="row">
                <h1 style="color:white;margin:0 auto;">{{block.top.headline}}</h1>
                <iframe style="margin:50px 0 auto;" width="80%" height="350" src="{{block.top.youtubeurl}}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    {% endif%}

    <div class="featured-blocks" style="{{block.bottom.style}}">
        <div class="container">
            <div class="row">
                <h1>{{block.bottom.headline}}</h1>
            </div>

            <div class="row-fluid">
                {% for article in block.bottom.articles %}
                <div class="span3">
                    <a target="_blank" href="{{article.url}}">
                        <div class="block" style="background-image:url({{article.bgimgurl}});">
                            <div class="icon">
                                <!-- <i class="fw-icon-user"></i> -->
                            </div>
                            <h1>{{article.title}}</h1>
                        </div>
                    </a>
                </div>
                {% endfor %}

            </div>

        </div>
    </div>
    {% endfor%}
    <!--blocks end-->

    <!--block2-->
    {% for block in blocks2 %} {% if block.video.open %}
    <div class="featured-images" style="background-color:#{{block.background}}">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <div class="center-block">
                        <h1 id="video-header" style="color:#{{block.video.headlineColor}}">{{block.video.headline}}</h1>
                        {% for p in block.video.paragraphs %}
                        <p class="video-text" style="color:#{{block.video.headlineColor}}">
                            {{p}}
                        </p>
                        {%endfor%}
                    </div>
                </div>
                <div class="span6">
                    <iframe width="100%" height="350" src="{{block.video.youtubeurl}}" frameborder="0" allowfullscreen></iframe>
                </div>

            </div>
        </div>
    </div>

    {% endif %}

    <div class="featured-blocks" style="background-color:#{{block.background}}">
        <div class="container">
            <ul class="grid effect-8" id="grid">
                <li>
                    <h1 style="color:#{{block.headlineColor}}">{{block.headline}}</h1>
                    <!-- <h2>一些介紹文</h2> -->
                </li>
            </ul>

            <div class="h-divider">
                <!-- <div class="icon1"><i class="fw-icon-star"></i></div> -->
            </div>

            <div class="row-fluid">
                {% for article in block.articles %}
                <div class="span3">
                    <a target="_blank" href="{{article.url}}">
                        <div class="block" style="background-image:url({{article.bgimgurl}});">
                            <div class="icon">
                                <!-- <i class="fw-icon-user"></i> -->
                            </div>
                            <h1>{{article.title}}</h1>
                        </div>
                    </a>
                </div>
                {% endfor %}

            </div>

        </div>
    </div>
    {% endfor %}
    <!--block2 end-->

    <!--block1-->

    <div class="featured-heading">
        <div class="container">
            <ul class="grid effect-8" id="grid">
                <li>
                    <h1>{{block1.headline}}</h1>
                    <!--<h2 style="visibility: hidden;">Integer luctus vestibulum orci velpo</h2>-->
                </li>
            </ul>

            <!-- <div class="h-divider">
                    <div class="icon1"><i class="fw-icon-star"></i></div>
                </div> -->

            <div class="row-fluid">
                <ul class="grid effect-3" id="grid">
                    <li class="span12">
                        <a target="_blank" href="http://www.nownews.com/n/2017/05/04/2508903" style="background-image: url(img/img-0504-5.jpeg);background-position: 30% 20%;">
                            <div class="block">
                                <h1 class="title">名家論壇》唐湘龍／維持現狀：蔡總統為什麼這麼糟？</h1>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            {% for row in block1.rows%}
            <div class="row-fluid">
                <ul class="grid effect-3" id="grid">
                    {% for article in row.articles %}
                    <li class="span6">
                        <a target="_blank" href="{{article.url}}" style="background-image: url({{article.bgurl}});">
                            <div class="block">
                                <h1 class="title">{{article.title}}</h1>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>

    <!--block1 end-->

    <!-- <div class="featured-images">
            <div class="container">
                <h1>In eget augue eget mauris</h1>
                <h2>Lorem luctus vestibulum</h2>
                <div class="hh-divider"></div>
                <div class="row-fluid">
                    <ul class="grid effect-3" id="grid">
                        <li class="span2">
                            <div class="user-info">
                                <img src="img/img3.png" alt="">
                                <h1>John doe</h1>
                                <p class="last">Duis suscipit tellus nisi, gravida hendrer</p>
                                <ul>
                                    <li><a href="#"><i class="fw-icon-facebook"></a></i></li>
                                    <li><a href="#"><i class="fw-icon-twitter"></a></i></li>
                                </ul>
                            </div>
                        </li>
                        <li class="span2">
                            <div class="user-info">
                                <img src="img/img4.png" alt="">
                                <h1>Amada</h1>
                                <p class="last">Duis suscipit tellus nisi, gravida hendrer</p>
                                <ul>
                                    <li><a href="#"><i class="fw-icon-facebook"></a></i></li>
                                    <li><a href="#"><i class="fw-icon-twitter"></a></i></li>
                                </ul>
                            </div>
                        </li>
                        <li class="span2">
                            <div class="user-info">
                                <img src="img/img5.png" alt="">
                                <h1>Peter</h1>
                                <p class="last">Duis suscipit tellus nisi, gravida hendrer</p>
                                <ul>
                                    <li><a href="#"><i class="fw-icon-facebook"></a></i></li>
                                    <li><a href="#"><i class="fw-icon-twitter"></a></i></li>
                                </ul>
                            </div>
                        </li>
                        <li class="span2">
                            <div class="user-info">
                                <img src="img/img6.png" alt="">
                                <h1>Kate</h1>
                                <p class="last">Duis suscipit tellus nisi, gravida hendrer</p>
                                <ul>
                                    <li><a href="#"><i class="fw-icon-facebook"></a></i></li>
                                    <li><a href="#"><i class="fw-icon-twitter"></a></i></li>
                                </ul>
                            </div>
                        </li>
                        <li class="span2">
                            <div class="user-info">
                                <img src="img/img7.png" alt="">
                                <h1>Johny</h1>
                                <p class="last">Duis suscipit tellus nisi, gravida hendrer</p>
                                <ul>
                                    <li><a href="#"><i class="fw-icon-facebook"></a></i></li>
                                    <li><a href="#"><i class="fw-icon-twitter"></a></i></li>
                                </ul>
                            </div>
                        </li>
                        <li class="span2">
                            <div class="user-info">
                                <img src="img/img8.png" alt="">
                                <h1>winslet</h1>
                                <p class="last">Duis suscipit tellus nisi, gravida hendrer</p>
                                <ul>
                                    <li><a href="#"><i class="fw-icon-facebook"></a></i></li>
                                    <li><a href="#"><i class="fw-icon-twitter"></a></i></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div> -->

    <footer class="footer-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="wow fadeInLeft pull-left">
                        &copy; 2017 NOWnews. All Rights Reserved.
                    </p>
                    <ul class="footer-social wow fadeInRight">
                        <li>
                            <a target="_blank" href="https://www.facebook.com/nownews/">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://twitter.com/NOWnews_TW">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://weibo.com/nownews">
                                <i class="fa fa-weibo"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/jquery-1.9.1.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/imagesloaded.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/AnimOnScroll.js"></script>

    <script>
        new AnimOnScroll(document.getElementById('grid'), {
            minDuration: 0.4,
            maxDuration: 0.7,
            viewportFactor: 0.2
        });
    </script>
    <script>
        $('#myCarousel').carousel({
            interval: 1800
        });
    </script>
</body>

</html>