footer.footer-wrapper {
    padding: 20px 0;
    background: #202020;
    overflow: hidden;
}

footer p {
    color: #FFF;
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 3px;
    text-transform: uppercase;
}

.footer-social {
    position: relative;
    padding: 0;
    font-size: 0;
    list-style: none;
    text-align: right;
    margin: -5px;
}

.footer-social>li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.footer-social a {
    display: block;
    font-size: 20px;
    padding: 5px;
    color: #FFF;
    color: rgba(255, 255, 255, .8);
    margin-left: 20px;
}

.footer-social a:hover {
    color: #FFF;
}

body {
    font-family: "Microsoft JhengHei", "微軟正黑體", "新細明體", "PMingLiU", "細明體", "MingLiU", "標楷體", "DFKai-sb", serif !important;
}

.banner {
    background: url(../img/bg-live.jpg) repeat;
    background-size: cover;
}

.header-wrapper {
    background: #f5f5f6;
}


/* 專訪稿件 */

.featured-blocks .row-fluid .span3 .block {
    padding: 0!important;
    height: 280px;
    background-size: cover;
    background-position: center;
    margin-bottom: 18px;
}

.featured-blocks .row-fluid .span3 .block h1 {
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    margin-top: 40%;
    margin-bottom: 20px;
    color: #fff;
    font-size: 20px;
}

@media (max-width: 769px) and (min-width: 480px) {}


/* 精彩回顧*/

.featured-blocks #grid h1 {
    color: #fff9ea;
    margin: 30px 60px 0;
}

@media (max-width: 480px) {
    .featured-blocks #grid h1 {
        position: relative;
        top: 50px;
    }
}

.featured-blocks .row-fluid .span4 .block {
    height: 240px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

.featured-blocks .row-fluid .span4 .block h1 {
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    margin-top: 105px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 22px;
}

.icon:after {
    border-top: 0;
}

.icon:before {
    border-bottom: 0;
}


/*名家論壇*/

.featured-heading .grid li h1.title {
    background: #222;
    color: #fff;
    padding-top: 15px;
    text-align: center;
    font-size: 22px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.featured-heading .grid li .block {
    padding: 10px 10px;
}

.featured-heading .grid li {
    margin-bottom: 40px;
}

.featured-heading .grid li a {
    height: 450px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

@media (max-width: 480px) {
    .featured-heading .grid li a {
        height: 350px;
    }
}

@media (max-width: 767px) {
    .featured-heading .grid li a {
        height: 275px;
    }
}